@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


//=========================================================
//login background
//=========================================================
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }


//=========================================================
//form error
//=========================================================
.error{
  display: inline-block;
  color: red;
  padding-bottom: 3%;
}

//=========================================================
//login form page
//=========================================================
.login-body{
  position: absolute;
  top: 25%;
  left: 40%;
}

// login logo

.login-header {
  div {
    //float: left;
    text-align: center;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 15%;

    span {
      color: #5379fa !important;
    }
  }
}

.login-form {
  color: white;
  font-family: 'Exo', sans-serif;

  label{
    text-align: center;
    //padding-bottom: 10%
  }

  input[type=email] {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-bottom: 4%;
    margin-top: 4%;
  }

  input[type=password] {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 4%;
  }

  .login-checkbox{
    @include break;
  }

  input[type=submit] {
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }

  input[type=submit]:active {
    opacity: 0.6;
  }

  input[type=email]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
  }

  input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
  }

  input[type=button]:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  ::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}


//=========================================================
//menus toggle button
//=========================================================
.navicon-line {
  width: 30px;
  height: 4px;
  border-radius: 1px;
  margin-bottom: 3px;
  background-color: dodgerblue;
}

.sb-toggle-left{
  cursor: pointer;
  width: 80px;
  padding: 1%;
  float: left;
  height: 100%;
  padding-top: 22px;
  padding-left: 24px;
}

.menu-toggle-box-shadow{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
//=========================================================
//navbar
//=========================================================
nav{
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 98%, rgba(28,28,28,1) 99%, rgba(17,17,17,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(44,44,44,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(0%, rgba(19,19,19,1)), color-stop(98%, rgba(43,43,43,1)), color-stop(99%, rgba(28,28,28,1)), color-stop(100%, rgba(17,17,17,1)));
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 98%, rgba(28,28,28,1) 99%, rgba(17,17,17,1) 100%);
  background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 98%, rgba(28,28,28,1) 99%, rgba(17,17,17,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 98%, rgba(28,28,28,1) 99%, rgba(17,17,17,1) 100%);
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(19,19,19,1) 0%, rgba(43,43,43,1) 98%, rgba(28,28,28,1) 99%, rgba(17,17,17,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#111111', GradientType=0 );

  height: 3.7em;
}
.nav-shadow{
  -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.75);
}
.navbar-fixed {
  position: fixed;
  left: auto;
  right: auto;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav:before, nav:after {
  content: " ";
  display: table;
}
//=========================================================
//profile page logo
//=========================================================
.logo {
  @include span(4);
  padding-top: 9px;
  div {
    //float: left;
    text-align: center;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 45px;
    font-weight: 200;

    span {
      color: #5379fa !important;
    }
  }
}


//=========================================================
//sidebar menu
//=========================================================

.sb-menu li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  a{
    border-left: 3px solid transparent;
    width: 100%;
    display: inline-block;
    padding: 1em;
    color: #f2f2f2;
    text-decoration: none;
    background: transparent;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    &:hover{
      border-left: 3px solid dodgerblue;
      background: lighten(#222222, 10%);
    }
    span.sb-caret {
      width: 0;
      height: 0;
      display: inline-block;
      margin: 0 5px;
      border: 5px solid transparent;
      background: #f2f2f2;
    }
    .sb-submenu-active > span.sb-caret {
      border-top: 0px solid transparent;
      border-bottom: 5px solid;
    }
  }
  small{
    display: inline-block;
    padding: 14px;
    color: #f2f2f2;
  }
  .sb-open-right{
    display: inline-block;
    padding: 14px;
    cursor: pointer;
    color: #f2f2f2;
  }

  //submenu

  ul.sb-submenu {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.05);
    li {
      width: 100%;
      padding: 0;
      margin: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      a{
        border-left: 3px solid transparent;
        width: 100%;
        display: inline-block;
        padding: 1em;
        color: #f2f2f2;
        text-decoration: none;
        background: transparent;
      }
    }
  }
}
//=========================================================
//upload icon
//=========================================================
#upload-icon-link{
  width: 50px;
  margin-left: span(6 wide);
}
#upload-icon{
  width: 50px;
  //@include span(isolate 60px at 25%);
  //width: span(1);
  //margin-right: span(1) + 25%;
  padding-top: 5px;
  transition: all 0.3s ease;
  &:hover{
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    -o-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
  }
}
//=========================================================
//modal
//=========================================================
.modal-example-content {
  width: 120%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0 none;

}

.modal-example-header {
  //border-bottom: 1px solid #E5E5E5;
  padding: 15px;
  font-weight: 500;
}
.modal-example-body p,
.modal-example-header h4 {
  margin: 0;
}
.modal-example-body {
  padding: 20px;
  margin-bottom: 10%;
}

#close-modal{
  float: right;
}
//=========================================================
//dropzone.js
//=========================================================
.dz-preview{
  width: 120px;
}
//=========================================================
//navbar padding
//=========================================================
#sb-site {
  padding: 80px 0 30px 0;
}

//button
.btn{
  background: dodgerblue;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 200;
  border-radius: .3em;
  transition: all 0.3s ease;
  margin: 0.09em;
  border: 3px solid lightgrey;
  &:hover{
    background: white;
    color: dodgerblue;
    border: 4px solid dodgerblue;
    cursor: pointer;
  }
}
.btn-left{
  font-family: 'Exo', sans-serif;
  float: left;
  margin-left: 10%;
  margin-top: -2%;
  height: 95%;
  padding: 0.13em 0.73em;
}
.btn-right{
  float: right;
  margin-right: 10%;
  margin-top: -2%;
  padding: 0.35em 0.95em;
}
.btn-center{
  font-family: 'Exo', sans-serif;
  margin-left: span(9 wide);
  margin-right: span(9 wide);
  //opacity: 0;
}