@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.error{
  display: inline-block;
  color: red;
  padding-bottom: 3%;
}


.login-body{
  position: absolute;
  top: 25%;
  left: 40%;
}

.login-header {
  div {
    //float: left;
    text-align: center;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 15%;

    span {
      color: #5379fa !important;
    }
  }
}

.login-form {
  color: white;
  font-family: 'Exo', sans-serif;

  label{
    text-align: center;
    //padding-bottom: 10%
  }

  input[type=text] {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-bottom: 4%;
    margin-top: 4%;
  }

  input[type=password] {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 4%;
  }

  .login-checkbox{
    @include break;
  }

  input[type=submit] {
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }

  input[type=submit]:active {
    opacity: 0.6;
  }

  input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
  }

  input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
  }

  input[type=button]:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  ::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}