@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
/* line 5, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../../../../.rvm/gems/ruby-2.1.1/gems/susy-2.1.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../_/sass/_base.scss */
body {
  font-family: 'Exo', sans-serif;
  font-size: 1.1em;
}

/* line 9, ../_/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.1.1/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 12, ../_/sass/_layout.scss */
.login-body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
}

/* line 15, ../_/sass/_layout.scss */
.login-form {
  clear: both;
}

/* line 8, ../_/sass/_modules.scss */
#bg {
  position: fixed;
  top: 0;
  left: 0;
}

/* line 9, ../_/sass/_modules.scss */
.bgwidth {
  width: 100%;
}

/* line 10, ../_/sass/_modules.scss */
.bgheight {
  height: 100%;
}

/* line 16, ../_/sass/_modules.scss */
.error {
  display: inline-block;
  color: red;
  padding-bottom: 3%;
}

/* line 25, ../_/sass/_modules.scss */
.login-body {
  position: absolute;
  top: 25%;
  left: 40%;
}

/* line 34, ../_/sass/_modules.scss */
.login-header div {
  text-align: center;
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 45px;
  font-weight: 200;
  margin-bottom: 15%;
}
/* line 43, ../_/sass/_modules.scss */
.login-header div span {
  color: #5379fa !important;
}

/* line 49, ../_/sass/_modules.scss */
.login-form {
  color: white;
  font-family: 'Exo', sans-serif;
}
/* line 53, ../_/sass/_modules.scss */
.login-form label {
  text-align: center;
}
/* line 58, ../_/sass/_modules.scss */
.login-form input[type=email] {
  width: 100%;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-bottom: 4%;
  margin-top: 4%;
}
/* line 73, ../_/sass/_modules.scss */
.login-form input[type=password] {
  width: 100%;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 4%;
}
/* line 88, ../_/sass/_modules.scss */
.login-form .login-checkbox {
  clear: both;
}
/* line 92, ../_/sass/_modules.scss */
.login-form input[type=submit] {
  width: 100%;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}
/* line 107, ../_/sass/_modules.scss */
.login-form input[type=submit]:hover {
  opacity: 0.8;
}
/* line 111, ../_/sass/_modules.scss */
.login-form input[type=submit]:active {
  opacity: 0.6;
}
/* line 115, ../_/sass/_modules.scss */
.login-form input[type=email]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}
/* line 120, ../_/sass/_modules.scss */
.login-form input[type=password]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}
/* line 125, ../_/sass/_modules.scss */
.login-form input[type=button]:focus {
  outline: none;
}
/* line 129, ../_/sass/_modules.scss */
.login-form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
/* line 133, ../_/sass/_modules.scss */
.login-form ::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* line 142, ../_/sass/_modules.scss */
.navicon-line {
  width: 30px;
  height: 4px;
  border-radius: 1px;
  margin-bottom: 3px;
  background-color: dodgerblue;
}

/* line 150, ../_/sass/_modules.scss */
.sb-toggle-left {
  cursor: pointer;
  width: 80px;
  padding: 1%;
  float: left;
  height: 100%;
  padding-top: 22px;
  padding-left: 24px;
}

/* line 160, ../_/sass/_modules.scss */
.menu-toggle-box-shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

/* line 168, ../_/sass/_modules.scss */
nav {
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #666666 0%, #2c2c2c 0%, #595959 0%, #474747 0%, #131313 0%, #2b2b2b 98%, #1c1c1c 99%, #111111 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4c4c), color-stop(0%, #666666), color-stop(0%, #2c2c2c), color-stop(0%, #595959), color-stop(0%, #474747), color-stop(0%, #131313), color-stop(98%, #2b2b2b), color-stop(99%, #1c1c1c), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #666666 0%, #2c2c2c 0%, #595959 0%, #474747 0%, #131313 0%, #2b2b2b 98%, #1c1c1c 99%, #111111 100%);
  background: -o-linear-gradient(top, #4c4c4c 0%, #666666 0%, #2c2c2c 0%, #595959 0%, #474747 0%, #131313 0%, #2b2b2b 98%, #1c1c1c 99%, #111111 100%);
  background: -ms-linear-gradient(top, #4c4c4c 0%, #666666 0%, #2c2c2c 0%, #595959 0%, #474747 0%, #131313 0%, #2b2b2b 98%, #1c1c1c 99%, #111111 100%);
  background: linear-gradient(to bottom, #4c4c4c 0%, #666666 0%, #2c2c2c 0%, #595959 0%, #474747 0%, #131313 0%, #2b2b2b 98%, #1c1c1c 99%, #111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#111111', GradientType=0 );
  height: 3.7em;
}

/* line 180, ../_/sass/_modules.scss */
.nav-shadow {
  -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.75);
}

/* line 185, ../_/sass/_modules.scss */
.navbar-fixed {
  position: fixed;
  left: auto;
  right: auto;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* line 193, ../_/sass/_modules.scss */
nav:before, nav:after {
  content: " ";
  display: table;
}

/* line 200, ../_/sass/_modules.scss */
.logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
  padding-top: 9px;
}
/* line 203, ../_/sass/_modules.scss */
.logo div {
  text-align: center;
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 45px;
  font-weight: 200;
}
/* line 211, ../_/sass/_modules.scss */
.logo div span {
  color: #5379fa !important;
}

/* line 222, ../_/sass/_modules.scss */
.sb-menu li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 228, ../_/sass/_modules.scss */
.sb-menu li a {
  border-left: 3px solid transparent;
  width: 100%;
  display: inline-block;
  padding: 1em;
  color: #f2f2f2;
  text-decoration: none;
  background: transparent;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}
/* line 239, ../_/sass/_modules.scss */
.sb-menu li a:hover {
  border-left: 3px solid dodgerblue;
  background: #3c3c3c;
}
/* line 243, ../_/sass/_modules.scss */
.sb-menu li a span.sb-caret {
  width: 0;
  height: 0;
  display: inline-block;
  margin: 0 5px;
  border: 5px solid transparent;
  background: #f2f2f2;
}
/* line 251, ../_/sass/_modules.scss */
.sb-menu li a .sb-submenu-active > span.sb-caret {
  border-top: 0px solid transparent;
  border-bottom: 5px solid;
}
/* line 256, ../_/sass/_modules.scss */
.sb-menu li small {
  display: inline-block;
  padding: 14px;
  color: #f2f2f2;
}
/* line 261, ../_/sass/_modules.scss */
.sb-menu li .sb-open-right {
  display: inline-block;
  padding: 14px;
  cursor: pointer;
  color: #f2f2f2;
}
/* line 270, ../_/sass/_modules.scss */
.sb-menu li ul.sb-submenu {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.05);
}
/* line 276, ../_/sass/_modules.scss */
.sb-menu li ul.sb-submenu li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 282, ../_/sass/_modules.scss */
.sb-menu li ul.sb-submenu li a {
  border-left: 3px solid transparent;
  width: 100%;
  display: inline-block;
  padding: 1em;
  color: #f2f2f2;
  text-decoration: none;
  background: transparent;
}

/* line 297, ../_/sass/_modules.scss */
#upload-icon-link {
  width: 50px;
  margin-left: 25%;
}

/* line 301, ../_/sass/_modules.scss */
#upload-icon {
  width: 50px;
  padding-top: 5px;
  transition: all 0.3s ease;
}
/* line 308, ../_/sass/_modules.scss */
#upload-icon:hover {
  transform: translate(0px, 3px);
  -webkit-transform: translate(0px, 3px);
  -moz-transform: translate(0px, 3px);
  -o-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
}

/* line 319, ../_/sass/_modules.scss */
.modal-example-content {
  width: 120%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0 none;
}

/* line 329, ../_/sass/_modules.scss */
.modal-example-header {
  padding: 15px;
  font-weight: 500;
}

/* line 334, ../_/sass/_modules.scss */
.modal-example-body p,
.modal-example-header h4 {
  margin: 0;
}

/* line 338, ../_/sass/_modules.scss */
.modal-example-body {
  padding: 20px;
  margin-bottom: 10%;
}

/* line 343, ../_/sass/_modules.scss */
#close-modal {
  float: right;
}

/* line 349, ../_/sass/_modules.scss */
.dz-preview {
  width: 120px;
}

/* line 355, ../_/sass/_modules.scss */
#sb-site {
  padding: 80px 0 30px 0;
}

/* line 360, ../_/sass/_modules.scss */
.btn {
  background: dodgerblue;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 200;
  border-radius: .3em;
  transition: all 0.3s ease;
  margin: 0.09em;
  border: 3px solid lightgrey;
}
/* line 371, ../_/sass/_modules.scss */
.btn:hover {
  background: white;
  color: dodgerblue;
  border: 4px solid dodgerblue;
  cursor: pointer;
}

/* line 378, ../_/sass/_modules.scss */
.btn-left {
  font-family: 'Exo', sans-serif;
  float: left;
  margin-left: 10%;
  margin-top: -2%;
  height: 95%;
  padding: 0.13em 0.73em;
}

/* line 386, ../_/sass/_modules.scss */
.btn-right {
  float: right;
  margin-right: 10%;
  margin-top: -2%;
  padding: 0.35em 0.95em;
}

/* line 392, ../_/sass/_modules.scss */
.btn-center {
  font-family: 'Exo', sans-serif;
  margin-left: 37.5%;
  margin-right: 37.5%;
}
